<div hidden id="spinner"></div>
<div class="container">
    <div class="showPost">
        <h1>Forum</h1>
        <div class="contentPost">
            <div class="postTitle"></div>
            <div class="postContent"></div>
        </div>
        <button class="button loadComments">Voir les commentaires</button>
        <div id="comments"></div>
    </div>
</div>